

/* ----------------------------------------------------------------------------
----------------------------- Universal CSS -------------------------------- */
* {
	margin: 0;
	padding: 0;
	/* font-family: 'Lato', sans-serif; */
	font-family: 'Karla', sans-serif;
}
ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
a, a:hover {
	text-decoration: none;
	color: #000;
} 
img {
	vertical-align: middle;
}
h1, h2, h3, h4, h5, h6, p, span {
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #8ED218;
}

::-webkit-scrollbar-thumb:hover {
    background: red;
}
/* ----------------------------------------------------------------------------
----------------------------- Universal CSS End ---------------------------- */

.slider__con__main {
	height: 100vh;
}

.slider__con h1 {
	font-size: 60px;
	color: #0A9444;
	font-weight: 700;
}
.slider__con h3 {
	font-size: 38px;
	color: #0A9444;
	font-weight: 600;
}
#pp-nav {
	display: none;
}

.line {
	width: 3px;
	height: 150px;
	background: #0F6936;
}

.slider__con__img .__img{
	border-radius: 15px;
}
.slider__con__img {
	position: relative;
	width: 100%;
	height: 500px;
}
.slider__con__img .__img__1{
	position: absolute;
	top: 10%;
	left: 0;
}
.slider__con__img .__img__2{
	position: absolute;
	top: 0;
	right: 0;
}
.slider__con__img .__img__3 {
	position: absolute;
	bottom: 0;
	left: 40%;
}
.slider__con__img .__img img {
	height: 220px;
	border-radius: 15px;
	box-shadow: 0 0 3px -1px #000;
}
.contact_icon ul li {
	padding: 5px 0;
}
.contact_icon ul li a {
	color: #0A9444;
	font-size: 14px;
}
.contact_icon {
	position: absolute;
	bottom: 0;
	right: 0;
}
.scroll__animate,
.scroll_text {
	position: absolute;
	bottom: 35px;
	left: 50%;
	transform: translateX(-50%);
}
.scroll_text {
	bottom: 15px;
}
.scroll_border {
	height: 45px;
	width: 25px;
	background: transparent;
	border: 2px solid #0A9444;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: end;
}
.dot {
	height: 7px;
	width: 7px;
	background: #0a9444;
	border-radius: 50%;
	margin-bottom: 2px;
}
.scroll_text {
	font-size: 14px;
	color: #0A9444;
}
/* ----------------------------------------------------------------------------
----------------------------- Partner Part Start --------------------------- */

.main_menu {
	z-index: 99;
	background: transparent;
	transition: .3s;
}
.main_menu.navbar-visible:hover {
	visibility: visible;
	opacity: 1;
	background: white;
}
.header_part {
	background: #fff;
	box-shadow: 0 0 10px -8px rgba(0,0,0,0.75);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 111;
}
.logo img{
	width: 120px;
}

.main_menu.navbar-visible .logo {
	opacity: 1 ;
	visibility: visible ;
}

.logo {
	transition: .3s;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}



.nav__bar {
	display: flex;
}

.menu {
	display: none;
}

.main_menu.navbar-visible .menu {
	display: flex;
	visibility: hidden;
	opacity: 0;
	transition: .3s;
}

.main_menu.navbar-visible:hover .menu {
	display: flex;
	visibility: visible;
	opacity: 1;
}

.menu li {
	position: relative;
	left: 10px;
	transition: .3s;
	transform: scale(1.4);
}

.main_menu.navbar-visible:hover .menu li {
	left: 0;
	transform: scale(1);
	transform-origin: center center;
}

.menu li a {
	color: #000;
	padding: 0 35px;
	transition: all .3s ease;
}
.menu li a:hover {
	color: #000;
}

.collapse__bar {
	height: 35px;
	border: none;
	width: 35px;
	border-radius: 50%;
	color: #fff;
	background: teal;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bread__crumb {
	padding: 10px 0;
}
.bread__crumb a {
	font-size: 14px;
	color: #555;
}

/* .partners__con {
	
} */
.divider {
	display: flex;
}
.divider > .div_01,
.divider > .div_02,
.divider > .div_03 {
	height: 3px;
	width: 25px;
	background: teal;
	margin: 0 3px;
}
.slick-next,
.slick-prev {
	height: 65px;
	width: 65px;
	text-align: center;
	line-height: 25px;
	color: #f00;
	position: absolute;
	bottom: 0 !important;
	right: 0;
	padding-top: 10px;
}
.slick-prev {
	right: 0 !important;
}
.slick-next::before,
.slick-prev::before {
	opacity: 1;
	color: #f00;
	font-size: 30px;
}
.partners__info__head {
	padding: 60px 0;
}
.partners__info__inner {
	max-width: 80%;
	background: #fff;
	margin: -50px auto 100px;
	position: relative;
	z-index: 999;
	padding: 35px;
	transition: all .3s ease;
	text-transform: uppercase;
}
.partners__info__inner a{
	color: #922790;
	text-transform: capitalize;
}
.partners__info__inner:hover {
	box-shadow: 0 0 10px -3px #000;
}
.partners__info__btn {
	display: block;
	height: 45px;
	width: 240px;
	background: #922790;
	border-radius: 30px;
	color: #fff;
	font-weight: 600;
	margin: auto;
	margin-bottom: 100px;
}
.partners__info__btn:hover {
	color: #fff;
}
/* the slides */
.slick-slide {
    margin: 0 18px;
}
/* the parent */
.slick-list {
    margin: 0 -18px;
}
/* ----------------------------------------------------------------------------
----------------------------- Partner Part End --------------------------- */


/* ----------------------------------------------------------------------------
----------------------------- Contact Part Start --------------------------- */
.contact__part {
	background: #FAFBFA;
	padding: 70px 0;
}
.contact__part__main li a {
	color: #000;
	font-weight: 600;
	padding-bottom: 20px;
	display: block;
}
.contact__part__contact p {
	font-size: 16px;
}
.contact__part__contact .icon a {
	font-size: 24px;
	color: #0A9444;
	padding: 15px 10px 0;
}
/* ----------------------------------------------------------------------------
----------------------------- Contact Part End ----------------------------- */


/* ----------------------------------------------------------------------------
----------------------------- Footer Part start ---------------------------- */
.footer__part {
	padding: 30px 0;
	background: #FAFBFA;
}
.footer__part a {
	color: #EB5D0F;
}
/* ----------------------------------------------------------------------------
------------------------------ Footer Part End ----------------------------- */



/* ----------------------------------------------------------------------------
------------------------------ TCV Part Start ------------------------------ */
.tcv__img {
	position: relative;
	width: 250px;
}
.tcv__img__02 {
	width: 250px;
	position: absolute;
	bottom: 0;
	right: 15%;
	z-index: -1;
}
.tcv__img__03 {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -11;
}
.tcv__img__main {
	position: relative;
}
.tcv__img__overlay {
	height: 80px;
	width: 100%;
	background: #0A9444;
	position: absolute;
	bottom: 0;
	left: 0;
}
.tcv__img__overlay a{
	font-size: 20px;
	color: #fff;
	text-align: center;
	display: block;
	line-height: 80px;
}
.tcv__head {
	padding: 180px 0 45px;
}
.tcv__column__timing {
	padding: 15px;
	box-shadow: 0 0 5px -1px #000;
}
.tcv__loading__con__main {
	padding: 30px 0;
}
.proggress__bar {
	height: 65px;
	width: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 2px solid #0A9444;
}
.proggress__bar img {
	width: 35px;
}
.tcv__btn {
	width: 250px;
	height: 50px;
	background: #922790;
	display: block;
	text-align: center;
	line-height: 50px;
	border-radius: 30px;
	color: #fff;
	margin-top: 60px;
}
.tcv__btn:hover {
	color: #fff;
}
.page__line {
	height: 3px;
	width: 50px;
	background: #0A9444;
	margin-left: 7px;
}
.page__number {
	display: flex;
	align-items: center;
	/*justify-content: center;
	*/position: fixed;
	right: -100%;
	top: 170px;
	font-size: 12px;
	color: #0A9444;
	z-index: 98;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

.page_count.page__number {
	right: 0;
} 
/* ----------------------------------------------------------------------------
------------------------------ TCV Part End -------------------------------- */



/* ----------------------------------------------------------------------------
------------------------------ About Part Start ---------------------------- */
.about__img {
	width: 250px;
}
.about__img__main {
	position: relative;
	height: 550px;
}
.about__img img{
	border-radius: 10px;
}
.about__img__01{
	position: absolute;
	top: 15%;
	left: 25%;
	z-index: -11;
}
.about__img__02{
	position: absolute;
	top: 0;
	left: 0;
}
.about__img__03{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}
.about__img__04{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 145px;
	width: 145px;
	background: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 5px -2px #000;
}
.about__img__04 img {
	width: 80px !important;
}
.about__con {
	padding-top: 150px;
}
/* ----------------------------------------------------------------------------
------------------------------ About Part End ------------------------------ */



/* ----------------------------------------------------------------------------
------------------------------ Transform Part Start ------------------------ */
.transform__part {
	background: url(../img/transform_bg.jpg) no-repeat;
	background-size: contain;
}
.transform__img__con {
	padding: 260px 0;
}
.transform__img {
	height: 180px;
	width: 180px;
	background: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.transform__img img{
	width: 100px !important;
}
.transform__img__line {
	height: 3px;
	width: 100px;
	background: #0A9444;
}

.transform__con {
	padding-top: 240px;
}
.transform__con__btn__main a {
	height: 50px;
	width: 100%;
	/* background: teal; */
	display: block;
	line-height: 50px;
	font-size: 18px;
	color: #922790;
	border-radius: 5px;
	box-shadow: 2px 0 15px -13px #000;
	transition: all .3s ease;
}
.transform__con__btn__main a:hover {
	background: #0F6936;
	color: #fff;
}
/* ----------------------------------------------------------------------------
------------------------------ Transform Part End ------------------------ */



/* ----------------------------------------------------------------------------
------------------------------ Team Page Start ----------------------------- */
.team__header {
	padding-top: 150px;
}
.partners__info__inner.team {
	box-shadow: 0 0 10px -3px #000;
}
.team__member {
	padding: 15px 10px;
	box-shadow: 0 0 15px -10px #000;
}
.team__member__02 {
	padding-top: 30px;
}
.team__member__img img {
	margin: -50px 0 0 -50px;
}
.contact__info ul li a {
	font-size: 16px;
	color: #787878;
}
.contact__info ul li {
	padding: 3px 0;
}
.contact__info ul li a i{
	color: #0F6936;
}
.member__about h3 {
	font-size: 24px;
	color: #0a9444;
}
.member__about p:nth-child(1) {
	font-size: 20px;
	color: #787878;
}
.member__about p:nth-child(2) {
	font-size: 18px;
	color: #000;
}
.member__about a {
	font-size: 18px;
	color: #922790;
	display: block;
	padding-top: 5px;
}
.others__service__btn {
	width: 100%;
	height: 50px;
	display: block;
	text-align: center;
	line-height: 50px;
	color: #000;
	box-shadow: 1px 0 10px -7px #000 ;
	transition: all .3s ease;
	border-radius: 8px;
}
.others__service__btn.active {
	background: #922790;
	color: #fff;
}

.others__members__con {
	padding: 15px 25px;
	box-shadow: 0 0 20px -13px #000;
}
.others__members__con img {
	width: 170px;
	height: 170px;
	border: 15px solid #fff;
	border-radius: 50%;
	box-shadow: 0 0 15px -10px #000;
}
.others__members__con h4 {
	font-size: 20px;
	color: #0F6936;
	font-weight: bold;
	padding-top: 5px;
}
.others__members__con p {
	font-size: 14px;
	color: #787878;
}
.others__members__con a {
	color: #0F6936;
}
.accordion-button,
.accordion-button:after {
	color: #0A9444;
}
.accordion-button:not(.collapsed) {
	color: #0A9444;
	background: transparent;
}
.accordion-button:focus {
	box-shadow: none;
}
/* ----------------------------------------------------------------------------
------------------------------ Team Page End ------------------------------- */



/* ----------------------------------------------------------------------------
------------------------------ Team View Page Start ------------------------ */
.team__view__part {
	padding: 150px 0 30px;
}
.team__view__con h3 {
	font-size: 24px;
	color: #0A9444;
	font-weight: 700;
}
.team__view__con p {
	font-size: 16px;
	color: #787878;
	font-weight: 400;
	padding: 5px 0 15px;
}



/* ----------------------------------------------------------------------------
------------------------------ Team View Page End -------------------------- */


/* ----------------------------------------------------------------------------
------------------------------ Contact US Part Start -------------------------- */
.contact__btn {
	background: #922790;
	color: #fff;
	height: 50px;
	border: none;
	border-radius: 5px;
}
.location__part {
	padding: 150px 0 30px;
}
.location__con h5{
	font-size: 24px;
	color: #0A9444;
	font-weight: bold;
}
.location__con p {
	font-size: 18px;
	color: #000;
	font-weight: regular;
}
.location__con a {
	color: #922790;
}
/* ----------------------------------------------------------------------------
------------------------------ Contact US Part End -------------------------- */


/* ----------------------------------------------------------------------------
------------------------------ Digital Equity Part Start ------------------- */
.digital__equity {
	padding: 150px 0 100px;
	position: relative;
	overflow-x: hidden;
}
.digital__equity__bg {
	position: absolute;
	top: -10%;
	right: -12%;
}
.digital__equity__bg img {
	width: 650px;

}

.digital__equity__con {
	display: flex;
	/* justify-content: space-between; */
}
.digital__equity__con__inner {
	height: 80px;
	width: 80px;
	background: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 15px -10px #000;
}
.digital__equity__con__inner img {
	width: 80px;
}
.digital__equity__head h1 {
	font-size: 48px;
	color: #0A9444;
	font-weight: bold;
}
.digital__equity__head p {
	font-size: 18px;
	color: #000;
	padding-bottom: 20px;
}
/* ----------------------------------------------------------------------------
------------------------------ Digital Equity Part End --------------------- */


/* ----------------------------------------------------------------------------
------------------------------ Digital Equity Part 2 Start ----------------- */
.digital__equity__2 {
	background: #FAFBFA;
	padding: 60px 0;
}
.category {
	background: #94B13D;
	width: 140px;
	height: 30px;
	border-radius: 30px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-weight: 700;
	font-style: 14px;
}
.digital__equity__2__con {
	padding-top: 150px;
}
.digital__equity__2__con a {
	color: #922790;
}
.digital__equity_3 {
	overflow-x: hidden;
	padding: 60px 0;
}
.digital__equity_3__head {
	padding: 0 280px; 
}
.digital__equity_3__head h3 {
	font-size: 48px;
	color: #0A9444;
	font-weight: 700;
}
.digital__equity__3__con__main {
	padding-top: 100px;
}
.digital__equity__3__con {
	height: 200px;
	width: 700px;
	background: #fff;
	border-radius: 10px;
	margin: 200px 0 0 -80px;
	box-shadow: 0 0 15px -10px #000;
	padding-top: 70px;
}
.digital__equity__3__con > .row {
	display: flex;
	justify-content: center;
	align-items: center;
}
.digital__equity__3__con h2,
.digital__centre__con h1 {
	font-size: 40px;
	color: #0A9444;
	font-weight: bold;
}
/* ----------------------------------------------------------------------------
------------------------------ Digital Equity Part 2 ENd ----------------- */



/* ----------------------------------------------------------------------------
------------------------------ Digital Centre Part Start ----------------- */
.digital__centre {
	padding: 150px 0;
}
.digital__centre__con p:nth-child(1) {
	color: #301E38;
}
.digital__centre__con a {
	color: #8F288D;
	display: block;
	padding-top: 15px;
}
.digital__centre__2 {
	background: #FAFBFA;
	padding: 60px 0;
}

.digital__centre__3 {
	overflow-x: hidden;
	padding: 30px 0;
}
.digital__centre__3__con {
	background: #301E38;
	width: 400px;
	height: 323px;
	padding: 75px 0;
	display: flex;
	/* line-height: 160px; */
}
.digital__centre__3__con h3 {
	font-weight: bold;
	color: #fff;
}
.digital__centre__3__con p {
	color: #fff;
	font-size: 14px;
}
.digital__centre__3__con .dbdb {
	padding-right: 20px;
}
.pr__30 {
	padding: 0 30px 15px 15px;
}
/* ----------------------------------------------------------------------------
------------------------------ Digital Centre Part End ----------------- */


/* ----------------------------------------------------------------------------
------------------------------ Awards Part Start --------------------------- */
.awards__part {
	padding: 30px 0;
	background: #FAFBFA;
}
.award__head {
	font-size: 40px;
	color: #0A9444;
	font-weight: 700;
}
/* ----------------------------------------------------------------------------
------------------------------ Awards Part End ----------------------------- */


/* ----------------------------------------------------------------------------
------------------------------ Publications Part Start --------------------- */

.publication__part {
	padding: 30px 0;
}
.publications__con {
	box-shadow: 0 0 10px -5px #000;
	border-radius: 10px;
	padding: 10px;
	display: flex;
}
.publications__img {
	padding-right: 10px;
}
.publications__img img {
	width: 200px;
}
.publication__time {
	font-size: 18px;
	color: #0A9444;
	font-weight: 600;
	padding-top: 15px;
}
.publication__con__inner p:nth-child(2) {
	font-weight: 600;
	padding: 5px 0;
}
.publication__btn {
	display: block;
	height: 35px;
	width: 120px;
	background: #922790;
	border-radius: 30px;
	text-align: center;
	line-height: 35px;
	color: #fff;
	font-weight: 500;
	margin-top: 10px;
}
/* ----------------------------------------------------------------------------
------------------------------ Publications Part ENd --------------------- */


/* ----------------------------------------------------------------------------
------------------------------ Partners Part Start ------------------------- */
.partners__part {
	padding: 60px;
}
/* ----------------------------------------------------------------------------
------------------------------ Partners Part End ------------------------- */







/* ----------------------------------------------------------------------------
------------------------------ Digital Centre Page 2 Start ----------------- */
.digital__centre__con.con__2 {
	width: 700px;
	background: #fff;
	box-shadow: 0 0 15px -8px #000;
	padding: 10px 25px;
	border-radius: none;
	z-index: 1;
	position: relative;
	margin-top: 20px;
}
.digital__centre__con.con__2__1 {
	background: #41284D;
	padding: 25px 15px;
}
.digital__centre__con.con__2__1 h1, 
.digital__centre__con.con__2__1 a {
	color: #fff;
}
.success__part {
	padding: 60px 0;
	background: #301E38;
	color: #fff;
}
.success__part.con__2 {
	padding: 0;
	overflow-x: hidden;
}
.success__con__main.con__2 h1 {
	color: #0A9444;
	font-weight: bold;
}
.digital__centre__con.con__2__2 {
	padding-top: 100px;
}
.publications__con.con__2 {
	display: block;
}
.publications__img.con__2 img{
	width: 75px;
}
/* ----------------------------------------------------------------------------
------------------------------ Digital Centre Page 2 End ----------------- */



/* ----------------------------------------------------------------------------
-------------------- Digital Centre Single View Page Start ----------------- */
.single__view {
	padding-top: 150px;
}

/* ----------------------------------------------------------------------------
-------------------- Digital Centre Single View Page End -------------------- */


/* ----------------------------------------------------------------------------
------------------------ SideMenu Part Start ------------------------------- */
.sidemenu__part {
	overflow-x: hidden;
	visibility: hidden;
	opacity: 0;
	position: fixed;
	width: 100%;
	background: #FFF;
	top: 0;
	z-index: 98;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

.onScreen.sidemenu__part {
	visibility: visible;
	opacity: 1;

}
.sidemenu__relatives{
	position: relative;
}
.sidemenu__others {
	position: absolute;
	top: 0;
	right: 0;
}
.sidemenu__event {
	height: 100vh;
	overflow-y: auto;
	scrollbar-color: transparent transparent;
}

.sidemenu__event::-webkit-scrollbar {
	width: 0;
}


.menus {
	padding-top: 150px;
}
.menus ul li a {
	font-size: 40px;
	font-weight: bold;
}
.sidemenu__event {
	background: #000;
	padding: 25px;

}
.seen__part {
	display: flex;
	align-items: center;
}
.sidemenu__event__line {
	width: 150px;
	height: 3px;
	background: #fff;
	margin: 0 10px;
}
.social_icons__part {
	height: 100vh;
	position: relative;
}
.social_icons {
	position: absolute;
	bottom: 10%;
	right: 50%;
} 
.social_icons a {
	color: #0A9444;
	font-size: 18px;
}
.social__icon__logo img{
	padding-top: 150px;
}
/* ----------------------------------------------------------------------------
------------------------ SideMenu Part End ------------------------------- */




/* ----------------------------------------------------------------------------
------------------------ Innovation Page Start ----------------------------- */
/* .innovation__part {
	padding-top: 150px;
} */
.innovation__head h3 {
	font-size: 40px;
	color: #0A9444;
	font-weight: 800;
	padding: 20px 0;
}
.innovation__con__wrap {
	padding: 0 0 150px;
}
.innovation__con__img {
	position: relative;
}
.innovation__con {
	width: 90%;
	/* margin: -25px auto 0; */
	background: #fff;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
	box-shadow: 0 0 15px -8px #000;
}
.innovation__con h2 {
	font-size: 20px;
	text-transform: uppercase;
	padding: 30px;
}
.innovation__con a {
	font-size: 18px;
	color: #922790;
	font-weight: 600;
}
/* ----------------------------------------------------------------------------
------------------------ Innovation Page End ------------------------------- */



/* ----------------------------------------------------------------------------
------------------------ TCV Page Part Start ------------------------------- */
.tcv__part {
	padding: 150px 0 80px;
}
.tcv__column__timing.tcv__page {
	box-shadow: none;
}
.tcv__hero__con {
	padding-top: 50px;
}
.tcv__hero__con h2 {
	font-size: 40px;
	color: #0A9444;
	font-weight: 800;
}

.tcv__tool {
	padding: 60px 0;
	background: #FAFBFA;
}
.tcv__icon {
	background: #fff;
	padding: 45px;
	border-radius: 50%;
	box-shadow: 0 0 10px -5px #000;
}
.tcv__con h2{
	font-size: 80px;
	color: #0A9444;
	font-weight: 700;
}
.tcv__con h5{
	font-weight: 700;
}
.subscribe__part {
	padding: 80px 0;
	background: url(../img/subscribe_img.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.subscribe__con {
	font-size: 40px;
	color: #fff;
	font-weight: 800;
	padding: 0 80px;
	text-shadow: 0 0 10px -7px #000;
}
.tcv__tool.part__2 {
	background: #fff;
}
/* ----------------------------------------------------------------------------
------------------------ TCV Page Part End --------------------------------- */


/* ----------------------------------------------------------------------------
------------------------ Blogs Page Start --------------------------------- */
.hero__part {
	/* position: relative; */
}
.hero__con {
	background: #fff;
	padding: 50px 20px 10px;
	margin-top: -160px;
}
.hero__con.__most {
	width: 80%;
	background: #fff;
	z-index: 999;
	margin: -50px;
	padding: 15px;
	position: relative;
}
.publish__info__con {
	padding-left: 15px;
}
.publish__btn {
	height: 30px;
	width: 120px;
	background: #922790;
	border-radius: 30px;
	color: #fff;
	display: block;
	text-align: center;
	line-height: 30px;
}
.publish__btn:hover {
	color: #fff;
}
.most__popular__con {
	padding: 15px 0 80px;
}
.top__publications__btn__main {
	padding: 30px 0;
}
.top__publications__btn__main ul li a {
	display: block;
	padding: 0 15px;
}
.hero__con.publish__con {
	margin: 0 0 30px;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 0 10px -7px #000;
}
.search__bar__con {
	padding: 10px;
	background: #FAFBFA;
	border-radius: 10px;
}
.blogs__form {
	position: relative;
}
.search__btn {
	position: absolute;
	top: 0;
	right: 0;
	/* margin-left: 30px; */
	font-size: 22px;
	color: #787878;
	padding: 4px 10px;
	font-weight: 300;
}
.search__bar__con ul {
	list-style-type: "🦄";
}
/* ----------------------------------------------------------------------------
------------------------ Blogs Page Start --------------------------------- */